 <div class ="group-cont group-item">
  <p>
      <img class="rails-img" src="<%= group.icon %>" alt="<%= group.icon %>" />
    </p>
  <p class="group-name">
    <%= group.name %>
  </p>

      <%= link_to "Show this group", group, class:"group-show-link" %>
  
  </div>
