<div id="expend">
  <% @group.expenditures.each do |expenditure| %>
   <div class="exp-cont">
      <p class="exp-name">
        <%= expenditure.name %>
      </p>

      <p class="exp-amount">
         <%= expenditure.amount %>
      </p>
   </div>
  
  <% end %>
</div>
