@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #cecfd1;
}

.splash-logo {
    width: 40%;
    height: 30%;
}

.splash-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.splash-btn {
    display: flex;
    justify-content: space-between;
}

/* title {
    display: flex;
    background-color: #3778c2; */

h1 {
    display: flex;
    padding: 10px;
    /* font-size: 50px; */
    align-items: center;
    background-color: rgb(13, 109, 138);
    justify-content: center;
}

h3 {
    padding: 10px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 180, 228);   
}

.view-grp-btn {
    background-color: rgb(13, 109, 138);
    margin: 30px;
    font-size: 20px;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    align-items: flex-end;
    text-decoration: none;
}

.sign-out-btn, .log-in-btn, .sign-up-btn {
    background-color: rgb(13, 109, 138);
    margin: 30px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

.new_user {

}

.field {
    background-color: #fff;
}

.sign-up-container {
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.email {
    background-color: #fff;
}

.button_to {
    font-size: 2em;
}

.group-show-container {
    background-color: red;
}

.new_group {
    background-color: red;
}

/* .sign-up-container {
    background-color: red;
} */

/* .group-form {
    background-color: #3778c2;
    margin: 10px;
    padding: 10px;
} */
